:root {
  --black: #0C0908;
  --gray: #535150;
  --red: #E40011;
  --gold: #EADC48;
  --white: whitesmoke;
}

body {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  padding: 0px !important;
  width: 85% !important;
  min-width:375px !important;
  margin: 1rem auto !important;
}

.logout-btn {
  width: 80px;
  height: 36px;
  background-color: var(--red);
  border-radius: 8px;
  color: var(--white);
  transition: ease-in-out .2s;
  margin: 5px;
}

.logout-btn:hover {
  transition: ease-in-out .2s;
  filter: brightness(.75);
}

.logout-btn:after {
  filter: brightness(.5);
}
