
/* mobile/tablet */
@media (width <= 1000px) {
    #card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* laptop/desktop */
@media (width > 1000px) {
    #card-info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }

}


/* all sizes */
#card-info {
    margin: 30px 5px;
}

#attr-div {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 2px;
}

#card-info_data {
    /* border: 1px solid green; */
    max-width: 700px;
    min-width: 330px;
    margin: 12px;
}

#card-image {
    width: 300px;
    margin: 20px;
}